<?php
/**
 * Tinyark Framework
 *
 * @copyright Copyright 2012-2013, Dong <ddliuhb@gmail.com>
 * @license MIT License
 */

require dirname(__FILE__).'/src/ark.php';
date_default_timezone_set('Asia/Shanghai');
