<?php
/**
 * Tinyark Framework
 *
 * @link http://github.com/ddliu/tinyark
 * @copyright  Liu Dong (http://codecent.com)
 * @license MIT
 */

require dirname(__FILE__).'/src/ark.php';
date_default_timezone_set('Asia/Shanghai');
