/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end css reset */

body{
    font-size: 16px;
    color: #333;
}
a, a:visited{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: lightblue;
}
.wrap{
    width:980px;
    margin:0 auto;
}
.topnav{
    margin: 30px 0;
    overflow:hidden;
    border-bottom: 3px solid #999;
}
.topnav li{
    float:left;
    padding:10px 0;
    margin: 0 20px 0 0;
    /*background-color: #DDD;*/
    /*border:1px solid #000;*/
    display:inline-block;
    font-size: 18px;
}
.topnav a, .topnav a:visited{
    color: #999;
    text-decoration: none;
}

.topnav ul.right{
    float:right;
}

.topnav ul.right li{
    margin: 0 0 0 20px;
}

h1{
    font-size: 30px;
    
}

.page-header{
    border-bottom: 1px solid whiteSmoke;
    padding: 5px 0;
    margin: 0 0 20px 0;
}

p{
    line-height: 1.2em;
    padding: 5px 0;
}

ul{
    padding-left: 10px;
}
li{
    list-style: square;
    margin-left: 10px;
}

/* Footer */
.footer{
    margin-top: 30px;
    padding-top: 10px;
    border-top: 3px solid #999;
    font-size: 14px;
    color: #999;
}